body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px
}

.first-section {
    background-image: url(images/eid-jamat.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.one-start {
    color: aliceblue;
    padding-left: 200px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 100px;

}


.Link-B {
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 10px 5px;
    border-radius: 5px;
}

.video-link {
    padding-left: 50px;
}

.nd-section {
    display: flex;
    margin-bottom: 100px;

}

.nd-star {
    color: black;
    padding-left: 200px;
    padding-right: 100px;
}

.Link-two {
    text-decoration: none;
    padding: 10px 5px;
    background-color: red;
    border-radius: 5px;
    color: white;

}

.three-sec {
    display: flex;
    margin-bottom: 100px;
}

.image-link {
    padding-left: 200px;
    width: 400px;
    height: 260px;
    margin-right: 200px;
}

.again-ex {
    text-decoration: none;
    padding: 10px 5px;
    background-color: red;
    border-radius: 5px;
    color: aliceblue;

}

.another-one {
    color: black;
    padding-right: 100px;
}

.middle-p {
    text-align: center;
    margin-bottom: 80px;

}

.define-it {
    display: flex;
    justify-content: center;
}

.define-itt {
    display: flex;
    justify-content: center;
}

.one-fig {
    background-color: rgba(237, 209, 156, 0.993);
    padding: 20px;
    width: 250px;
    height: 200px;
    margin: 20px 10px;
    box-shadow: 10px 5px 5px grey;

}